rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /playlists/{docId} { //captual the id and use in folow code
      allow read, create: if request.auth != null; // user is logged in
      allow delete, update: if request.auth.uid == resource.data.userId // user is owner
          
    }
  }
}