rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /covers/{userId}/{doc=**} {  // get the userId in the path
      allow read, create: if request.auth != null  // write is both create and update
      allow delete, update: if request.auth.uid == userId;
    }
  }
}
